nav {
    background-color: #e3f2fd;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#user-field {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#username {
    width: 10%;
}


#password {
    width: 80px;
}

.nav-link {
    cursor: pointer;
}

#register-link {
    color: darkblue;
}