body {
    background-image: linear-gradient(to right, whitesmoke,gray, darkslategray,gray,whitesmoke);
}

#logo {
    color: darkslategray;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: gainsboro;
}

#user-field {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: darkslategray;
}

#email {
    width: 150px;
    border-color: darkslategray;
}


#password {
    width: 80px;
    border-color: darkslategray;
}

.nav-link {
    cursor: pointer;
}

#register-link {
    color: darkslategray;
}

#login {
    align-self: end;
    border-color: darkslategray;
    color: darkslategray;
}

#login:hover {
    background-color: darkslategray;
    color: whitesmoke;
}

#profile {
    width: 100px;
    height: 40px;
    line-height: 1em;
    padding: 0px;
    background-color: darkslategray;
    color: whitesmoke;
}

#profile:hover {
    border-color: darkslategray;
    background-color: whitesmoke;
    color: darkslategray;
}