/* #bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
} */

.leaflet-container {
    height: 400px;
    padding: 0;
    margin-top: 46px;
}

#mapid {
    height: 400px;
}